body {
    background: #5CDB95;
    color: #16181a;
    font-family: 'Roboto';
}

.main {
    text-align: center;
}

.navbar {
    text-align: center;
    margin-bottom: 70px;
}

.logo {
    margin-left: 20px;
    display: flex;
    align-items:center;
    text-align: center;
}

.logo img {
    margin-right: 20px;
    width: 40px;
}

.logo h3 {
    display: block;
    margin-top: 12px;
    margin-bottom: 0;
}

.menu {
    margin-top: 12px;
    display: block;
}

.menu a {
    margin: 0 auto;
    text-decoration: none;
    color: black;
    margin-right: 200px;
    font-size: 15px;
}

.buy a {
    background: black;
    border: none;
    color: white;
    margin-right: 40px;
}